
@import '../../styles/mixins.scss';

.app {
    min-height: 100vh;
}

.mainContent {
    display: flex;
    min-height: calc(100vh - 80px);

    @media (max-width: 900px) {
        flex-direction: column;
    }
    
}

.dashboard {
    width: 70%;

    @media (max-width: 900px) {
        width: 100%;
    }
}

.sidebar {
    width: 30%;

    
    @media (max-width: 900px) {
        width: 100%;
    }
}