@import '../../styles/mixins.scss';

.header {
  position: sticky;
  top: 0;
  z-index: var(--z-index-sticky);
  
  @include flex-between;
  
  padding: var(--spacing-sm) ;
  background: var(--gradient-dark);
  box-shadow: var(--shadow-medium);
}

.languageSelector {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);

  label {
    color: var(--text-secondary);
    font-weight: 500;
  }
}

.languageSelectorLabel {
  @media (max-width: 900px) {
    display: none;
  }
}

.appTitle {
  font-size: 2rem;
  font-weight: 700;
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  @media (max-width: 900px) {
    font-size: 1rem;
  }
}